@import 'src/styles/_mixins';

.companyBlock {
  @include column-leftAlign;
  grid-gap: 5px;
  padding: 20px;
}

.logo {
  //TODO reconsider width
  width: 90px;
}

.links {
  @include row-leftmost;
  align-items: center;
  grid-gap: 10px;
}

.copyright {
  margin: 0;
  color: lightgray;
  font-weight: 10;
  font-size: 13px;
}
