@import "../../../fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf";

@font-face {
    font-family: 'HelveticaBlack';
    src: local('HelveticaBlack'),
      url('../../../fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf') format('truetype');
    font-weight: bold;
  }

  .helvetic-text {
    font-family: "HelveticaBlack";
  }