.topBar__wrapper {
    height: 40px;
    width: available;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.sections__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    padding: 10px;
}

.sections__wrapper a {
    text-decoration: none;
}

.authButtons__wrapper {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.authButtons__wrapper button {
    all: initial;
    background-color: #467474;
    color: white;
    border-radius: 30px;
    font-family: inherit;
    padding: 6px 17px;
}

.authButtons__wrapper button:hover {
    cursor: pointer;
    background: #568484;
}

.user {
    padding: 0;
}

.singleLink {
    margin: 8px;
    text-decoration: none;
}

.singleLink .active {
    color: #467474;
}