.item__wrapper {
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px #949494 solid;
    border-radius: 15px;
    margin: 7px;
    width: 100px;
}

.pics__wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.pics__wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.quantity__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background-color: #28A999;
    border-radius: 7px;
    width: 10px;
    padding: 4px 7px;
    align-content: center;
    justify-content: center;
}

.quantity__wrapper small {
    color: white;
}