.App {
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

button {
    background: #467474;
    padding: 10px 22px;
    font-size: 20px;
    border-radius: 100px;
    border: 0;
    -webkit-text-fill-color: aliceblue;
    gap: 8px;
}

button:hover {
    cursor: pointer;
    background: #568484;
}