.footer__wrapper {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.identity__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
}

.socialLinks__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.socialLinks__wrapper img {
    width: 40px;
}